# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.css]
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.md]
trim_trailing_whitespace = false
